#overlay {
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 999998;
     background-color: #EFEFEF;
     display: none;
}

#loading {
  	position:absolute; 
  	top:50%; 
  	left: 50%;
  	height:200px;
  	width: 300px;
  	margin-top:-100px;
  	margin-left: -150px;
  	z-index: 999999;
}

#loading .loadingImage {
	margin: 0 auto;
	display: block;
	vertical-align: middle;
	z-index: 999999;
}

#loading .loadingText {
	font-family: Tahoma,"Liberation Sans",Arial,sans-serif;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	text-transform: none;
	text-decoration: none;
	letter-spacing: normal;
	word-spacing: 0;
	line-height: 15.4px;
	text-align: center;
	vertical-align: baseline;
	direction: ltr;
	display: none;
	z-index: 999999;
}

body {
	background-color: #EFEFEF;
}